<% content_for :title do %>Fandango Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-title="Clock"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="6" data-sizey="1">
      <div data-id="fandango-pull-requests" data-view="Table" data-title="Pull Requests"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="6" data-sizey="2">
      <div data-id="fandango-issues" data-view="Table" data-title="Issues"></div>
    </li>
  </ul>
</div>
